@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dean Office</h1>
    <img src="~/img/main.jpg" alt="..." style="height:500px;box-shadow:0px 0px 10px black;"/>
</div>
